<div id="{{ id }}">
	<br />
	<h1>Name: <a target="_blank" href="{{ profileUrl }}">{{ userName }}</a></h1>
	<br />
	
	<img style="height: 100px; width: 100px;" src="{{ avatar }}" />
	
	<h2># of Followers: {{ followers }}</h2>
	<h2># of following: {{ following }}</h2>

	<h2># of Public repos: {{ publicRepos }}</h2>
	<h2># of public Gists: {{ publicGists }}</h2>
</div>
